#build-bridges{
  font-weight: 100;
  width: 60%;
}

.carousel-row {
  display: flex;
  /* flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; */
  padding-top: 4%;
  width: 100%;
  margin: auto;
  justify-content: center;
  margin-bottom: 13%;
}

.carousel-row::-webkit-scrollbar {
  display: none;
}

.carousel-row .carousel-card {
  flex: 0 0 auto;
  width: 16rem;
  height: 20rem;
  margin: 0 auto;
  /* padding: 1% 5% 0%; */
  /* background-color: #f2f2f2; */
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-row .translate_req{
  transform: translateY(20%);
}

.carousel-row .carousel-card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 4px;
}

.about-us-intro-div{
  width: 60%;
  margin: auto;
  text-align: center;
}
.about-us-intro{
  font-size: 1.4rem;
  line-height: 30px;
}

.about-us-detail-container{
  width: 90%;
  margin: auto;
  padding: 4% 0;
}
.about-us-detail-container .container-section{
  margin: 3rem auto;
}

.about-us-detail-container .container-section h3{
  font-size: 2rem;
  font-weight: 100;
  padding-bottom: 5px;
}

.about-us-intro-div a{
  text-decoration: none;
  font-size: 3rem;
  color: var(--color-blue);
}


@media(max-width:1024px){
    .carousel-row .carousel-card {
        width: 10rem;
        height: 15rem;   
      }
  }
  
  @media(max-width:750px){
      .carousel-row{
          flex-direction: column;
          justify-content: space-between;
      }
  
      .carousel-row .carousel-card {
          width: 70%;
          height: 20rem;   
          margin-bottom: 20px;
      }
      .carousel-row .translate_req{
          transform: none;
      }
  }



@media(max-width:550px)
{

  .build-bridge-div{
      width: 90%;
      margin: auto;
      justify-content: center;
      text-align: center;   
  }
      #build-bridges{
      font-size: 2rem;
      width: auto;
  }
}
@media(max-width:450px)
{
  .carousel-row .carousel-card {
      width: 90%;
      height: 15rem;
  }
}